{% load i18n %}
<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
  <a href="/" class="navbar-brand d-flex align-items-center">
    <h2 class="m-0">
      <img src="/media/{{ informations.logo_color }}" height="60px" />
      {{ informations.name }}
    </h2>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-3 py-lg-0">
      {% for link in links %}
      <a href="{{ link.url }}" class="nav-item nav-link"
        >{{ link.name_display }}</a
      >
      {% endfor %}
    </div>
  </div>
</nav>
