 <div class="container-fluid bg-light p-0">
      <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
          <div
            class="h-100 d-inline-flex align-items-center border-start border-end px-3"
          >
            <small class="fa fa-phone-alt me-2"></small>
            <small>{{ informations.phoneNumber }}</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center border-end px-3">
            <small class="far fa-envelope-open me-2"></small>
            <small>{{ informations.email }}</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center border-end px-3">
            <small class="far fa-clock me-2"></small>
            <small>{{ informations.TimeOfWork }}</small>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center">
              {% for quicklink in quicklinks %}
                <a class="btn btn-square border-end border-start" href="{{ quicklink.url }}"
              ><i class="fab fa-{{ quicklink.app }}-f"></i
            ></a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>